<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <button ion-button class="item-icon">
        <ion-icon
          ios="ios-arrow-round-back"
          md="md-arrow-round-back"
        ></ion-icon>
      </button>
      <ion-title> Review </ion-title>
      <ion-buttons right>
        <button ion-button class="item-icon">
          <!-- (click)="addNew()" -->
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list>
    <ion-item *ngFor="let item of items" class="big-list">
      <div class="div-bottom">
        <ion-avatar item-start>
          <img src="{{ item.image }}" />
        </ion-avatar>
      </div>
      <div class="div-name">
        <h4>Name : {{ item.name }}</h4>
        <h5>{{ item.description }}</h5>
        <div>
          <ion-icon
            name="star"
            *ngFor="let num of [1, 2, 3, 4, 5]"
            [ngStyle]="{ color: getColor(num) }"
          >
          </ion-icon>
        </div>
      </div>
      <div>
        <button class="item-arrow">
          <ion-icon
            ios="ios-arrow-round-forward"
            md="md-arrow-round-forward"
          >
          </ion-icon>
        </button>
      </div>
      <!-- <div class = "div-description">
      
      </div> -->
    </ion-item>
    <!-- <ion-buttons right>
        <button ion-button icon-only class="item-content">
          <ion-icon name="arrow-round-forward"></ion-icon>
        </button>
      </ion-buttons>
    </ion-row> -->
    <!-- <ion-row>
      <div>
          <ion-icon
            name="star"
            *ngFor="let num of [1, 2, 3, 4, 5]"
            (click)="rate(num)"
            [ngStyle]="{ color: getColor(num) }"
          >
          </ion-icon>
        </div>
    </ion-row> -->
  </ion-list>
</ion-content>
