ion-icon {
  font-size: 24px;
}

.item-arrow {
    //background-color: transparent;
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background: #75ffa3;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}

.item-icon {
    background-color: transparent;
    color : #ffffff;
}

ion-avatar {
  width: 80px;
  height: 80px;
}

.avatarLabel {
  font-size: 25px;
  font-weight: "bold";
  text-align: center;
}

.cardBadge {
  text-align: center;
}

.rating {
  text-align: center;
}

.itme-title {
  color: #68ff42;
  font-size: 25px;
  font-weight: "bold";
}

.item-avatar {
  width: 100% !important;
  height: 100% !important;
  max-width: 300px !important; //any size
  max-height: 300px !important; //any size
}

.div-name{
    position: absolute;
    width: 100% !important;
    bottom: 10% !important;
    text-align: left;
    left:100px;
}


.div-bottom{
    margin-top: 13px;
    width: 100%;
    height:100px;
}

.big-list{
    --border-color : #3880ff;
    height: 115px;
}